<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.nkechiscreations.maps">
	<uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.name.GoogleMapApp.permission.MAPS_RECEIVE" />
	<permission android:name="com.name.GoogleMapApp.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value=""/>
		<meta-data android:name="com.google.android.gms.version" android:value="4030500" />
	</application>
</manifest>



